body{
    background-color: #1c1c1c;
    -ms-overflow-style: none;
    overflow-x: hidden;
    scrollbar-width: none;
    max-width: 100%;
}

body::-webkit-scrollbar{
    display: none;
}

.top-bar{
    color: #b32525;
    padding: 1vw;
    width: 100%;
    margin: 0 0 0 0;
}

.title{
    display: inline-block;
    vertical-align: middle;
    font-family: 'Cairo', sans-serif;
    margin-left: 15pt;
    text-align: center;
}

.title h1{
    font-size: auto;
}

.bot-pfp{
    display: inline-block;
    vertical-align: middle;
}

.bot-pfp img{
    border: 5px solid white;
    border-radius: 50%;
}

.sidebar{
    background-color: #161616;
    overflow-x: hidden;
    padding: 0;
    display: inline-block;
    border-right: 5pt solid #b32525;
    border-image: linear-gradient(to bottom, rgba(255, 255, 255, 0) 0%, #b32525 48%, rgba(255, 255, 255, 0) 100%);
    border-image-slice: 1;
}

.content{
    padding: 15pt;
    background-color: #161616;
    height: fit-content;
    font-family: 'Average', serif;
    color: #CDCDCD;
}

.content h2{
    font-family: 'Spectral', serif;
    font-weight: bold;
}

.icon{
    line-height: 40px;
    padding: 0;
    font-size: 18pt;
}

.sidebar a, .dropdown-btn {
    font-family: 'Spectral', serif;
    padding: 15pt;
    text-decoration: none;
    font-size: 18pt;
    color: #ABABAB;
    display: block;
    border: none;
    background: none;
    width: 100%;
    text-align: left;
    cursor: pointer;
    outline: none;
    background-color: #161616;
}

.sidebar a:hover, .dropdown-btn:hover {
    color: #f1f1f1;
    background-color: #b32525;
}

.dropdown-container {
    display: block;
    max-height: 0;
    -webkit-transition: max-height 0.8s;
	-moz-transition: max-height 0.8s;
	transition: max-height 0.8s;
    overflow: hidden;
    background-color: #161616;
}

.dropdown-btn:focus{
    outline: none;
}

.active {
    background-color: #b32525;
    color: white;
}

.felso-lec{
    color: #676767;
    text-align: center;
    font-size: 10pt;
    font-style: italic;
    margin: 0 auto;
    float: right;
}

.display{
    -webkit-transition: max-height 0.4s;
	-moz-transition: max-height 0.4s;
    transition: max-height 0.4s;
    height: auto;
    max-height: 2000px;
    opacity: 1;
}

.main{
    position: relative;
    height: fit-content;
    width: fit-content;
}

.description{
    text-align: justify;
}

.invite-link{
    color: #b32525;
    text-decoration: none;
}

.invite-link:hover{
    color: #ABABAB;
    text-decoration: underline;
}

.fa-caret-right.animate{
    -moz-transform: rotate(90deg);
    -webkit-transform: rotate(90deg);
    -o-transform: rotate(90deg);
    -ms-transform: rotate(90deg);
    transform: rotate(90deg);
}

@media (max-width: 768px) {
    .col-xs-1, .title{
        margin: 0 auto 0 auto;
    }
    .sidebar{
        display: block;
        width: 100%;
        border-right: none;
        border-bottom: 1pt solid #b32525;
        border-image: linear-gradient(to right, rgba(255, 255, 255, 0) 0%, #b32525 48%, rgba(255, 255, 255, 0) 100%);
        border-image-slice: 1;
    }
}

a{
    color: #b32525;
    text-decoration: none;
}

a:visited{
    color: #b32525;
    text-decoration: none;
}
